<html>
    <head>
        <style>
            body { font-family: 'Helvetica', 'Arial', sans-serif; }
            .form {
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Register Movie</h1>
        <form action="/post_movie" method="POST">
            <div class="form">
                <label>
                    Title
                    <input name="title" type="text">
                </label>
            </div>
            <div class="form">
                <label>
                    Year
                    <input name="year" type="number">
                </label>
            </div>
            <div class="form">
                <label>
                    IMDB
                    <input name="imdb" type="text">
                </label>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>